@using ElectroDocument.Controllers.AppContext;

@{

    ViewData["Title"] = "Управление пользователями";
}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }
</style>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Register">Добавить пользователя</a>
</li>

<table>
    <tr>
        <th>Фотография</th>
        <th>ФИО пользователя</th>
        <th>Должность</th>
        <th>Адресс прописки</th>
        <th>Номер телефона</th>
    </tr>
    <input type="text" id="inputField" placeholder="ФИО сотрудника">
    <button onclick="filter()">Отфильтровать</button>
    @foreach(Employee? emp in Model.profiles)
    {
        @if(emp is not null)
        {
            <tr onclick="window.location.href='/Profile/Edit/@emp.Id';">
                <td>
                    <img src="/Profile/Image/@emp.Id" alt="фото" width="80" height="80"></img>
                </td>
                <td>@emp.Individual.Name  @emp.Individual.Surname @emp.Individual.Patronymic</td>
                <td>@emp.Role.Title</td>
                <td>@emp.Individual.Address</td>
                <td>@emp.Individual.PhoneNumber</td>
            </tr>
        }

    }

</table>

<script>
    function filter() 
    {
        var inputValue = document.getElementById("inputField").value;
        window.location.href = `/Users?searchby=${inputValue}`;
    }
</script>